<div class="signin">
  <div class="content">
    <h1>New Post</h1>
    <form action="/posts" method="post">
        <label class="labl">Title:</label>
        <div class="inputBox">
        <input type="text" name="title" required><br>
        </div>
        <label class="labl">URL:</label>
        <div class="inputBox">
        <input type="text" name="url" required><br>
        </div>
        <div class="inputBox">
        <input type="submit" value="Create Post" class="btn">
        </div>
    </form>
    <a href="/">Back to HOME</a>
  </div>
</div>
