<div class="signin">
  <div class="content">
    <h2>REGISTER</h2>
    <form action="/register" method="post">
      <div class="form">
      <div class="inputBox">
      <input type="email" name="email" required> <i>Email</i>
      </div>
      <div class="inputBox">
      <input type="text" name="username" required> <i>Username</i>
      </div>
      <div class="inputBox">
      <input type="password" name="password" required> <i>Password</i>
      </div>
      <div class="inputBox">
      <input type="submit" value="Submit">
      </div>      </form>
    </form>
    <a href="/login">Login</a>
    <a href="/">Back to HOME</a>
  </div>
</div>
